body{
    background-color: #2d283c;
}
@font-face {
    font-family: 'aApiNyala';
    src: url('aApiNyala.ttf');
}
.title{
    height: 100px;
    font-size: 50px;
    text-align: center;
    padding-top:50px;
    color: #1cc7d3; 
    font-family: 'aApiNyala';
}
.main{
    display: flex;
    flex-direction: row;
}
.side-abilities{
    flex: 1;
    background-color: #2d283c;
    display: flex;
    flex-direction: column;
}
.character-pic{
    flex: 1;
    display: flex;
    justify-content: center;
}
.main-abilities{
    flex: 1;
    background-color: #2d283c;
    display: flex;
    flex-direction: column;
}
.pic{
    height: 700px;
}
.ability{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-width: 1px;
    border-color: #000000;
    position: relative;
}
.ability-img{
    z-index: 1;
    position: relative;
    left: 0;
    top: 20px;
    height: 140px;
    z-index: 100;
}
.ability-title{
    z-index: 10;
    height: 32px;
    color: white; 
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    position: absolute;
    text-align: center;  
    top: 200px;
}
.ability-description{
    z-index: 10;
    position: absolute;
    color: white; 
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    top: 40px;
    width: 360px;
    left: 240px;
    opacity: 0;
}
/* .q-ability{
    flex: 1;
}
.e-ability{
    flex: 1;
}
.x-ability{
    flex: 1;
} */
