name: Secret Scanning CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - name: Secret Scanning
      uses: geekNero/testing-actions@v2
      with:
        file-exclusions: '"file1.txt,file2.txt"'
