name: Secret Scanning CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.9]

    steps:
    # - name: Set up Scanning Repository
    #   run: |
    #     cd $GITHUB_WORKSPACE
    #     git clone https://github.com/geekNero/testing-actions.git
    #     cd testing-actions
    #     mkdir actions
    # - uses: actions/checkout@v3
    #   with:
    #     path: 'testing-actions/actions/'
    # - name: Set up Python ${{ matrix.python-version }}
    #   uses: actions/setup-python@v3
    #   with:
    #     python-version: ${{ matrix.python-version }}
    # - name: Install Dependencies
    #   run: |
    #     python -m pip install --upgrade pip
    #     pip install -r testing-actions/requirements.txt
    - name: Testing New Action
      uses: geekNero/testing-actions@v2
      with:
        exclusions: 'file1.txt,file2.txt'
    - run: |
        cd /home/runner/work/
        ls
    # - name: Scan Code
    #   run: |
    #     cd testing-actions
    #     echo "%s"> custom_regex.txt
    #     cat custom_regex.txt
    #     python3 main.py
